
$color-fondo-body:#f0f1f5;
$tipo-letra-body: "Mozilla Headline", sans-serif;
$color-fondo-body2:#4a4e69;
$negro: black;
$blanco:#fff;
$color_cards:#b5b7ca;
$color_circulo:#35384b;
$tipo-letra-h1:"Dancing Script", cursive;
$color-a:#b5b7ca;
$box-shadow:rgba(0, 0, 0, 0.4);


